body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#page{
    width: max(200px, 90%);
    justify-self: center;
}

span{
    margin: 10px;
}

#nav{
    padding: 5px;
    background-color: #EEEEFF;
    border-radius: 3px;
    border: 1px blue solid;
    display: flex;
}

#nav_left{
    margin-right: auto;
}

#nav_right{
    margin-left: auto;
}

#nav a:hover{
    color: blue;
}

#nav a{
    padding: 5px;
    color: black;
    text-decoration: none;
}