body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

#page{
    left: 0;
    right: 0;
    width: max(200px, 100%);
}

span{
    margin: 10px;
}

#nav{
    position: sticky;
    padding: 15px;
    background-color: #5555FF;
    display: flex;
}

#nav-left{
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#nav-right{
    display: flex;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
}

#nav a:hover{
    font-weight: bold;
    border-bottom: 2px #FFFFFF solid;
}
#nav span{
    color: white;
}
#nav a{
    padding: 5px;
    margin-left: 10px;
    color: white;
    text-decoration: none;
}
.container input[type="submit"]{
    border: 2px #5555FF solid;
    padding: 2px 5px;
    font-size: 1.2rem;
    background-color: white;
}
label{
    font-size: 1.2rem;
}
input[type="text"], input[type="password"], input[type="email"]{
    border-radius: 5px;
    margin: 10px 0px;
    border: 1px white solid;
    color: black;
    border-bottom: 1px #5555FF solid;
    padding: 3px;
    font-size: 1.2rem;
}
input:hover, input:focus{
    background-color: #EEEEFF;
    border-bottom: 2px #5555FF solid;
}
.container input[type="submit"]:hover{
    background-color: #EEEEFF;
}
input:-webkit-autofill{
    -webkit-text-fill-color: black;
}
.gravatar-image{
    width: auto;
    height: 1.5rem;
    border-radius: 43%;
    padding: 3px;
}
.centerY{
  margin-top: auto;
  margin-bottom: auto;
}
.container{
    border: 2px #5555FF solid;
    justify-self: center;
    width: min-content;
    padding: 10px;
    margin: 10px;
}
.full{
    width: max(95%, 400px);
    margin-bottom: 0;
}