body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#page{
    width: max(200px, 90%);
    justify-self: center;
}
span{
    margin: 10px;
}
#nav{
    background-color: #EEEEFF;
    border-radius: 3px;
    border: 1px blue solid;
    display: flex;
    justify-content: flex-end;
}